:root {
	--main-clr: #540b2f;
	--secondary-clr: #950952;

	--main-txt: #fff;
	--secondary-txt: #f3eee9;

	--accent1: #eb7bc0;
	--accent2: #d01073;

	--link-decoration: var(--main-clr);
	--button-color: var(--accent1);
}

a {
	color: var(--secondary-txt);
}

#greeting-wrapper > p {
	color: var(--main-clr);
}

.button,
#submit-btn {
	color: var(--main-txt);
}

footer,
footer a {
	font-size: 14px;
	color: #fff;
	font-family: 'Roboto Monospace', monospace;
	text-align: center;
}
